

/* header{
    background: #deba6f;
    padding: 20px;
    text-align:center;
} */
body{
  background-color:#72121e;
  /* background-color:#5c0000; */
  /* background-color:#7F0909; */
 /* background-color: #60727c; */
    margin: 0;
}
.infoBar1{
  width:91.5%;
  float: left;
  margin-left:2%;
    /* padding: 50px; */
    background-color:
    #fdd631;
    left:-50px;
    border-style: solid;
    
}

img[src="Images/huff.jpg"] { 
  float:center;
  width:100%;
  height:100px;
  border-style: solid;
 
 } 

.eleven1 {
	width: 91.5%;
	float: left;
	margin-left: 2%;
}
p{
  font-family:'Cinzel Decorative', cursive;
  text-align: center;
  
}


.infoBar2{
    /* padding: 50px; */
    background-color:
    #5158b8;
    width: 91.5%;
    float: left;
    margin-left: 2%;
    border-style:solid;
}
 img[src="Images/rB.jpg"] { 
 float:center;
 width:100%;
 height:100px;
 border-style:solid;


} 

.infoBar3{
  width: 91.5%;
	float: left;
	margin-left: 2%;
    background-color:
    #234038;
    border-style:solid;
}
img[src="Images/sB.jpg"] { 
  float:center;
  width:100%;
  height:100px;
  border-style: solid;
 
 } 


/* using for fading in and out on scroll */

header {
    /* margin: 0; */
    position:sticky;
    width: 100%;
    background-color: 
    #bb8f6d;
    height: 250px;
   z-index: 1000;
    font-family: 'helvetica';
    font-size: 70px;
    font-weight: 100;
    color: #fff;
  }

  
  .title {
    position: absolute;
    top: 50%;
    left: 100px;
    font-family:'Cinzel Decorative', cursive;
  

  }




.row1 {
  
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
    margin: 0px;
   
}
.content-3-columns1 {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  width:100%;

}
img[src="Images/red.jpg"] { 
  float:center;
  width:100%;
  height:500px;
  opacity: .7;
 
 
 } 
.row2 {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
    margin: 0px;
    background-color: #bb8f6d;
   
}
.row3 {
 height:500px;
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}
.row4 {
 
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}
.row5 {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}
.row6 {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}

/* getting animations */
* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: pink;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

/* end of animations */

 #fixed{
   /* position:fixed; */
 }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #bb8f6d;
    /* background-color: #b3183d; */
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Cardo', serif;
height: 75px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
 z-index: 999; 
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* position:fixed; */
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color:   #bb8f6d;
    color: black;
  }
  /* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}


img[src="Images/woofer.jpg"] { 
    height: 240px;
    width: 240px;
    border: 4px solid white;
    border-radius: 50%;
    /* opacity:.7; */
    float:right;
    position:relative;
    /* z-index: 1000; */
    top:0;
    /* margin:20px; */
 }
 .four1 {
	/* width: 32%; */
	float: right;
   /* margin-top:2%;  */
   /* padding-right:320px; */
  
     /* padding-bottom:70px;  */
     padding-right:60px;
    /* z-index: 1000; */
    
    top:0;
}

 .four2 {
   height: 350px;
	width: 32%;
	float:left;
    margin-left: 2%;
    padding:60px;
}

img[src="Images/ravenclaw.jpg"] { 
    height: 300px;
    width: 300px;
    border: 4px solid white;
    border-radius: 50%;
    opacity:.9;
    float:center;
  
 }
 img[src="Images/pugHuf.jpg"] { 
  height: 300px;
  width: 300px;
  border: 4px solid white;
  border-radius: 50%;
  opacity:.9;
  float:center;
 } 
 img[src="Images/huf2.jpg"] { 
  height: 300px;
  width: 300px;
  border: 4px solid white;
  border-radius: 50%;
  opacity:.9;
  float:center;
 } 
 img[src="Images/huf4.jpg"] { 
  height: 300px;
  width: 300px;
  border: 4px solid white;
  border-radius: 50%;
  opacity:.9;
  /* float:center; */
 } 
 /* ravenclaw dogs */
 img[src="Images/rav1.jpg"] { 
  height: 300px;
  width: 300px;
  border: 4px solid white;
  border-radius: 50%;
  opacity:.9;
  /* float:center; */
 } 
 img[src="Images/rav2.jpg"] { 
  height: 300px;
  width: 300px;
  border: 4px solid white;
  border-radius: 50%;
  opacity:.9;
  /* float:center; */
 } 
 img[src="Images/rav3.jpg"] { 
  height: 300px;
  width: 300px;
  border: 4px solid white;
  border-radius: 50%;
  opacity:.9;
  /* float:center; */
 } 
 /* end of raven claw dogs */

/* slytherin dogs */

img[src="Images/sly1.jpg"] { 
  height: 300px;
  width: 300px;
  border: 4px solid white;
  border-radius: 50%;
  opacity:.9;
  /* float:center; */
 } 
 img[src="Images/sly2.jpg"] { 
  height: 300px;
  width: 300px;
  border: 4px solid white;
  border-radius: 50%;
  opacity:.9;
  /* float:center; */
 } 
 img[src="Images/sly3.jpg"] { 
  height: 300px;
  width: 300px;
  border: 4px solid white;
  border-radius: 50%;
  opacity:.9;
  /* float:center; */
 } 

/* end of slytherin dogs */

 .four5 {
  height: 380px;
 width: 32%;
 float:left;
   margin-left: 2%;
   padding:60px;
}
.eight1 {
  height:50px;
	width: 60%;
	float: center;
  /* margin-left: 2%; */

}

 .four3 {
   height: 450px;
	width: 91%;
	float:center;
    margin-left: 2%;
    padding:60px;
    
 
}
img[src="Images/slytherin.jpg"] { 
    height: 300px;
    width: 300px;
    border: 4px solid white;
    border-radius: 50%;
    opacity:.9;
 }
 .four4 {
   height: 470px;
	width: 32%;
	float:left;
    margin-left: 2%;
    padding:60px;
}



/* background-image: url("../Images/twoDogs.jpg");
opacity: 1;
width: 50%;
height: 700px; /* You must set a specified height */
/* background-position: center; /* Center the image */
/* background-repeat: no-repeat; /* Do not repeat the image */
/* border-radius: 100%;
background-size: cover; Resize the background image to cover the entire container  */ 

