

/* header{
    background: #deba6f;
    padding: 20px;
    text-align:center;
} */
body{
    background-color:#6ec3c5;
    margin: 0;
}
p{
    padding: 50px;
    background-color:
    #fdd631;
}
/* using for fading in and out on scroll */

header {
    margin: 0;
    position: relative;
    width: 100%;
    background-color: #aaa;
    height: 300px;
    opacity: 1;
    text-align: center;
    font-family: 'helvetica';
    font-size: 80px;
    font-weight: 100;
    color: #fff;
  }
  
  .title {
    position: absolute;
    top: 60%;
    left: 100px;
  }




.row1 {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
    margin: 0px;
    background-color:#dc3f46;
}
.row2 {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
    margin: 0px;
   
}
.row3 {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}
.row4 {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}
.row5 {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}
.row6 {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}
.four1 {
	width: 32%;
	float:left;
    margin-left: 2%;
    padding:60px;
    background-color:
    
}
.four2 {
	width: 32%;
	float:left;
    margin-left: 2%;
    padding:60px;
}
.four3 {
	width: 32%;
	float:left;
    margin-left: 2%;
    padding:60px;
}
.four4 {
	width: 32%;
	float:left;
    margin-left: 2%;
    padding:60px;
}


  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #b3183d;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #deba6f;
    color: black;
  }


img[src="Images/woofer.jpg"] { 
    height: 300px;
    width: 300px;
    border: 4px solid white;
    border-radius: 50%;
    opacity:.7;
 }

img[src="Images/twoDogs.jpg"] { 
    height: 300px;
    width: 300px;
    border: 4px solid white;
    border-radius: 50%;
    opacity:.7;
 }
img[src="Images/slytherin.jpg"] { 
    height: 300px;
    width: 300px;
    border: 4px solid white;
    border-radius: 50%;
    opacity:.7;
 }



/* background-image: url("../Images/twoDogs.jpg");
opacity: 1;
width: 50%;
height: 700px; /* You must set a specified height */
/* background-position: center; /* Center the image */
/* background-repeat: no-repeat; /* Do not repeat the image */
/* border-radius: 100%;
background-size: cover; Resize the background image to cover the entire container  */ 

